body {
  padding: 10% 0;
  background-color: #85bb65;
  color: #213216;
}

.titlebar {
  width: auto;
  font-size: 400%;
  margin-bottom: 1%;
  text-align: center;
  word-spacing: 200%;
  letter-spacing: 200%;
}

h2 {
  margin-top: 1%;
  font-size: 300%;
  width: auto;
  text-align: center;
  color: #e68a00;
}

input {
  width: 7%;
  text-align: center;
}

.entries {
  line-height: 230%;
  width: auto;
  text-align: center;
}

#calcButton {
  border: none;
  text-decoration: none;
}
#calcButton:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,0.1);
}
